/* styles.css for landing page index.html */
body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.header {
    border: 3px solid yellow;
    background-color: #1f2937;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.logo {   
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.awesome {
    display: flex;
    padding: 10px 100px;
    margin-bottom: 75px;
}

.awesome1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-right: 10px;
}

.a_subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 35px;
 }

 .awesome2 {
    background-color: gray;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
 }

 .random {
    border: 4px dotted red;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-weight: bolder;
    font-size: 18px;
 }

 .boxes {
    border: 4px dashed blue;
 }