/* styles.css for landing page index.html */

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    max-width: 1000px;
}

.header {
    border: 3px solid #1f2937;
    background-color: #1f2937;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.logo {   
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.awesome {
    display: flex;
    padding: 10px 100px;
    margin-bottom: 75px;
}

.awesome1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-right: 10px;
}

.a_subtext {
    font-size: 15px;
    color: #e5e7eb;
}

.title {
    font-size: 44px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 35px;
 }

 .awesome2 {
    background-color: gray;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 17px;
    
 }

 .random {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-weight: 900;
    font-size: 20px;
 }

 .boxes {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;

 }

 .box {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
 }

 .box_text {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 5px;
    margin-bottom: 50px;
    font-size: 10px;
 }

 .subtext {
    width: 100px;
 }

 .inspiring {
    height: 225px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 200px;
 }

 .quote {
    font-size: 25px;
    font-style: italic;
    color: #1f2937;
 }

 .thor {
    font-weight: 700;
    color: #1f2937;
    align-self: flex-end;
 }

 .action_container {
    border: 2px solid red;
    height: 200px;
    display: flex;
 }

 .action_left {
    border: 2px dotted green;
    width: 60%;
    background-color: #3882f6;
    margin: 50px 0 50px 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }