/* styles.css for landing page index.html */

.header {
    border: 2px solid red;
    background-color: #1f2937;
}

.navbar {
    height: 75px;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.logo {
    
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding: 0;
    

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}


    
    
